.mainWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.header {
  min-height: 30px;
  padding: 2px 5px;
  border-bottom: 1px solid #fafafa;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .headerRight {
    display: flex;
    justify-content: end;
  }
}

.title {
  margin: 0;
  color: #1c1c1c;
}

.content {
  flex: 1;
  background-color: #fdfdfd;
  padding: 5px;
  overflow: auto;
}
