.mainWrapper {
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  font-size: 10pt;
}

.info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
